@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Nav Bar */

nav {
    width: 100%;
    background-color: #515662;
    padding: 40px;
    box-sizing: border-box;
}

nav#navbar header {
    color: #ccff66;
}
nav#navbar h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

nav#navbar p {
    color: #aae75a;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 5px 0 ;
    margin-top: 5px;
}

.active {
    font-weight: bold;
}

span.active-marker {
    width: 20px;
    height: 30px;
    margin-top: -6px;
    border-right: 6px solid #00a281;
    position: absolute;
    left: 0;
}

/* Main, General Sections */

main {
    padding: 40px;
    box-sizing: border-box;
}

header {
    color: #00a281;
}

section {
    margin-top: 60px;
}

section:first-child {
    margin-top: 0;
}

.main-section header {
    font-weight: 700;
    font-size: 1.4rem;
}

/* Code Blocks */

code.code-block {
    font-size: 1.2rem;
    background-color: black;
    display: inline-block;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
}

code.code-block span.line {
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
}

code.inline-highlight {
    color: #ff615b;
    background-color: rgba(182, 216, 205, 0.3);
}

.statement, .tag {
    color: #569cd6;
}

.function {
    color: #90dcfe;
}

.string, .attr {
    color: #ce8b55;
}

.num, .value, .boolean {
    color: #b5cea8;
}

.comment {
    color: #6a994c;
}

.indent-2 {
    margin-left: 18px;
}

.indent-4 {
    margin-left: 38px;
}

.indent-6 {
    margin-left: 56px;
}

/* Footer */

footer {
    padding: 4px 0;
    background-color: #00a281;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    margin-top: 60px;
 }

/* Links */

a:link, a:hover, a:visited, a:active {
    color: #2896eb;
    text-decoration: none;
}

ul#navlist a:link, a:visited, a:active {
    color: #e8e6e7;
}

ul#navlist a:hover {
    font-weight: 700;
}

@media only screen and (min-width: 760px) {
    nav {
        width: 250px;
        height: 100%;
        position: fixed;
        padding: 40px 0 0 40px;
        top: 0;
        left: 0;
    }

    main {
        height: 100%;
        box-sizing: border-box;
        padding: 40px 40px 40px 360px;
        background-color: white;
    }
}